nav {
  background-color: #f8f8f8;
}

nav ul a {
  color: #333;
  font-size: 13px;
  margin-left: 20px
}

nav #logo {
  height: 64px;
  padding-top: 6px;
}

nav #logo img {
  height: 50px;
}

footer.page-footer {
  background-color: #ffffff;
}

footer div {
  padding: 8px 0;
  border-top: #cccccc solid 1px;
  color: #cfc8c8;
  font-size: 12px;
}

#login:hover {
  background-color: #44a6f6;
  color: #ffffff;
}

.swiper-slide img {
  width: 100%;
}

#banner {
  width: 80%;
}

#intro .row .col {
  padding: 0 0.25rem;
}

.intro-module {
  margin-top: 80px;
  height: 150px;
  background-color: #f3fcfe;
}

.intro-module img {
  margin-top: -40px;
}

.intro-module h6 {
  color: #337ab7;
}

.intro-module span {
  font-size: 13px;
  color: #333;
}

.banner2 {
  width: 100%;
}

.product-type {
  margin: 0;
}

.intro-name {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  border: #eee solid 1px;
  background-color: #ffffff;
  margin-bottom: -1px;
  cursor: pointer;
}

.product-intro-title {
  margin: 0;
  background-color: #ffffff;
  border: #eeeeee solid 1px;
  font-size: 14px;
  color: #333;
}

.product-intro {
  padding-top: 10px;
}

.product-intro h5 {
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.product-intro h6 {
  font-weight: bold;
}

.product-intro img {
  width: 100%;
}

.left-2em {
  padding-left: 2em;
}

.product-type .active {
  border-left: #44a6f6 solid 10px;
}

.try-form {
  padding: 15px;
  background-color: #ffffff;
  border: #eee solid 1px;
}

#submit-try {
  width: 50%;
}